.nasa{
    width: 100vw;
    height: 110vh;
    /* background-color: aqua; */
    display: flex;
    overflow: hidden;
  
}
.nleft{
    /* flex:0.813; */
    background-color:#121c31;
    min-width: 41%;
    display: flex;
    flex-direction: column;
}
.nright{
    flex: 1.17;
    height: 100%;
    background-color:#0a1e49;
    display: flex;
    z-index: -2;
}
.nasa1{
    width: 20rem;
}
.dwnloads8{
   
    margin: auto;
    margin-top: -5rem; 
    margin-right: -5rem;
    /* background-color: aqua; */
    z-index: 60;
    color: white;
    /* width: 20rem; */
}
.downtext3{
    font-size: 5rem;
}
.nas1{
    width: 20rem;
    height: 40rem;
    margin-top: 30rem;
    margin-left: 20rem;
}
.nas2{
    width: 25rem;
    height: 40rem;
    margin-top: -8rem;
    object-fit: cover;
    z-index: -1;

}
.entertext8{
    color: white;
    margin-bottom: 10rem;
}