.ux{
    width: 100vw;
    height: 75rem;
    background-color: aqua;
    display: flex;
    overflow: hidden;
  
}
.uleft{
    flex:0.813;
    background-color:#243558;
   
    display: flex;
    flex-direction: column;
}
.dwnloads3{
   
    margin: auto;
    margin-top: -1rem; 
    margin-right: -5rem;
    /* background-color: aqua; */
    z-index: 60;
    width: 22rem;
}
.uright{
    flex: 1.17;
    height: 100%;
    background-color:#0c1322;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.pizza{
    width: 25rem;
    height: 10rem;
    position: absolute;
    margin-left: -10rem;
}
.domi{
    width: 25rem;
    height: 40rem;
    position: absolute;
    margin-top: 30rem;
    margin-left: 10rem;
    object-fit: cover;
}
.domi2{
    width: 25rem;
    height: 50rem;
    position: absolute;
    margin-left: 40rem;
    margin-top: 10rem;
}
.dominos{
    width: 20rem;
    height: 20rem;
    /* position: absolute; */
    /* float: left; */
    margin-top:-8rem ;
    margin-right: -400rem;
    margin-left: 83%;
}
.dominos2{
    width: 20rem;
    height: 20rem;
    /* position: absolute; */
    /* background-color: #0c1322; */
    margin-top: 40rem;
    margin-left: 83%;
    
}