.pathSvg{
    position: absolute;
    width: 400px;
    height: 400px;
    position: fixed;
    left: 50%;
}
html { /* body won't work ¯\_(ツ)_/¯ */
    scroll-snap-type: y mandatory;
    /* scroll-snap-points-y: repeat(300px); */
  }
section{
    scroll-snap-align: center;
    /* height: 100vh; */
}
