.pathSvg{
    position: absolute;
    width: 400px;
    height: 400px;
    position: fixed;
    left: 50%;
}
html { /* body won't work ¯\_(ツ)_/¯ */
    scroll-snap-type: y mandatory;
    /* scroll-behavior:inherit;  */
    /* scroll-behavior: smooth; */
    /* scroll-padding-block-end:30%; */
    /* scroll-snap-points-y: repeat(300px); */
  }
section{
    /* scroll-behavior: smooth; */
    scroll-snap-align:center;
   
}
