*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  /* position: relative; */
  overflow-x: hidden;
}


.container{
  /* background-color: black; */
  width: 100%;
  height: 69rem;
 
  position: fixed;
  top:0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}
.one{
  z-index: 50;
  margin-right:25rem;
  width: 30rem; 
  margin-top:-20rem;
  height: 30rem;
  background-color: rgb(89, 31, 143);
  border-radius: 30rem;

}
.one2{
  position: absolute;
  z-index: 50;
  margin-right:25rem;
  width: 30rem; 
  margin-top:-20rem;
  height: 30rem;
  
  border-radius: 30rem;
}
html{
  font-size: 10px;
}
::-webkit-scrollbar{
  width: 0.5rem;
  border-radius: 2rem;
}
::-webkit-scrollbar-track{
   /* background:blue; */
   background-color: rgba(0,0,0.4);
   opacity: 0.4;
   border-radius: 2rem;
   
}
::-webkit-scrollbar-thumb{
  background-color:  #262b35;
  border-radius: 2rem;
  
}
::-webkit-scrollbar-thumb:hover{
  background-color: #252729;
  border-radius: 2rem;
  
}
@media screen and ( max-width:1220px) {
  html{
    font-size: 9px;
  }
 
  
}

@media screen and ( max-width:1080px) {
  html{
    font-size: 8px;
  }
 
  
}
